@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #e3edf7;
}
.accordion{
    margin: 100px auto;
    width: 600px;
}
.accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
    background: #e3edf7;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}
.accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #c20000;
}

label::before{
    content: "+";
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}


input[type="radio"]{
    display: none;
}
.accordion .content{
    padding: 0px 10px;
    line-height: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s, padding 0.5s;

}
.accordion input[type="radio"]:checked + label + .content{
   max-height: 400px;
   padding: 10px 10px 20px;
}
.accordion input[type="radio"]:checked + label::before{
    content: "-";
}